<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
             http://www.springframework.org/schema/beans/spring-beans.xsd
             http://www.springframework.org/schema/context
             http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:kafka.properties" />

    <!-- 创建kafkatemplate bean，使用的时候，只需要注入这个bean，即可使用template的send消息方法 -->
    <bean id="KafkaTemplate" class="org.springframework.kafka.core.KafkaTemplate">
        <constructor-arg ref="producerFactory"/>
        <!--<constructor-arg name="autoFlush" value="true"/>-->
        <property name="defaultTopic" value="hotel_sync_fullinfo_from_fisv2"/>
        <property name="producerListener" ref="producerListener"/>
    </bean>

    <!-- 创建kafkatemplate需要使用的producerfactory bean -->
    <bean id="producerFactory" class="org.springframework.kafka.core.DefaultKafkaProducerFactory">
        <constructor-arg>
            <ref bean="producerProperties"/>
        </constructor-arg>
    </bean>

    <bean id="producerListener" class="org.zemo.kafka.spring.producer.KafKaProducerListener" />

    <!-- 定义producer的参数 -->
    <bean id="producerProperties" class="java.util.HashMap">
        <constructor-arg>
            <map>
                <entry key="bootstrap.servers" value="${bootstrap.servers}"/>
                <entry key="group.id" value="${group.id}"/>
                <entry key="retries" value="${retries}"/>
                <entry key="batch.size" value="${batch.size}"/>
                <entry key="linger.ms" value="${linger.ms}"/>
                <entry key="buffer.memory" value="${buffer.memory}"/>
                <entry key="key.serializer" value="${key.serializer}"/>
                <entry key="value.serializer" value="${value.serializer}"/>
                <entry key="metadata.fetch.timeout.ms" value="${metadata.fetch.timeout.ms}"/>
                <entry key="max.block.ms" value="${max.block.ms}"/>
            </map>
        </constructor-arg>
    </bean>
</beans>